<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--suppress CheckTagEmptyBody -->
    <!--alternative solution to use th:block in header fragment -->
    <th:block th:include="/layouts/_head :: head"></th:block>
    <title id="pageTitle">All Users</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- Navbar -->
    <div th:replace="/layouts/_header :: header"></div>

    <!-- Main Sidebar Container -->
    <div th:insert="/layouts/_mainSidebarx :: mainSidebar"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Users</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">User</a></li>
                            <li class="breadcrumb-item active">Edit</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">



                <!-- Horizontal Form -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Edit User</h3>
                        &nbsp;&nbsp;
                        <a href="/user/index" th:href="@{/institute/index}" class=""><i class="fas fa-long-arrow-alt-left"></i> Back to List</a>
                        &nbsp;|&nbsp;
                        <a href="/user/create" th:href="@{/institute/create}" class=""><i class="fas fa-file-alt"></i> New Form</a>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="#" th:action="@{/institute/update}" th:object="${institute}" method="post" class="form-horizontal">
                        <div class="card-body">

                            <input type="hidden" id="id" th:field="*{instituteId}">

                            <div class="form-group row">
                                <label for="item_Code" class="col-form-label col-sm-2 ">Institute Name</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{name}" class="form-control" id="item_Code" placeholder="" />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span></div>
                            </div>

                            <div class="form-group row">
                                <label for="email" class="col-form-label col-sm-2 ">Email</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{contact.email}" class="form-control" id="email" placeholder="" />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('contact.email')}" th:errors="*{contact.email}" class="text-danger"></span></div>
                            </div>

                            <div class="form-group row">
                                <label for="phone" class="col-form-label col-sm-2 ">Phone</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{contact.phone}" class="form-control" id="phone" placeholder="" />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('contact.phone')}" th:errors="*{contact.phone}" class="text-danger"></span></div>
                            </div>

                            <div class="form-group row">
                                <label for="phone" class="col-form-label col-sm-2 ">City</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{contact.permanentAddress.city}" class="form-control" id="city" placeholder="" />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('contact.permanentAddress.city')}" th:errors="*{contact.permanentAddress.city}" class="text-danger"></span></div>
                            </div>

                            <div class="form-group row">
                                <label for="phone" class="col-form-label col-sm-2 ">Country</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{contact.permanentAddress.country}" class="form-control" id="country" placeholder="" />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('contact.permanentAddress.country')}" th:errors="*{contact.permanentAddress.country}" class="text-danger"></span></div>
                            </div>

                            <div class="form-group row">
                                <label for="phone" class="col-form-label col-sm-2 ">Zip</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{contact.permanentAddress.zip}" class="form-control" id="zip" placeholder="" />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('contact.permanentAddress.zip')}" th:errors="*{contact.permanentAddress.zip}" class="text-danger"></span></div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-form-label col-sm-2 ">Details</label>
                                <div class="col-sm-5">
                                    <input type="text" th:field="*{contact.permanentAddress.detail}" class="form-control" id="details" placeholder="" />
                                </div>
                                <div class="col-sm-5"><span th:if="${#fields.hasErrors('contact.permanentAddress.detail')}" th:errors="*{contact.permanentAddress.detail}" class="text-danger"></span></div>
                            </div>

                            <!-- /.card-footer -->
                    </form>
                </div>
                <!-- /.card -->




            </div><!--/. container-fluid -->
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer th:include="layouts/_footer :: footer" class="main-footer"></footer>

</div>
<!-- ./wrapper -->


<div th:include="layouts/_footerScripts :: footerScripts"></div>
<!-- PAGE SCRIPTS -->
<script type="text/javascript" src="/static/js/application.js" th:src="@{/js/application.js}"></script>


</body>
</html>